.divs_post{
    background-color: grey;
    font-size: 1.5vw;
    border: 2px solid #000;
    margin: 1vh;
    padding: 2vh;
}


.etiqueta_h2{
    text-align: center;
    color: rgb(78, 2, 2);
    text-decoration: underline;
}
.etiqueta_h2_mejor{
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.segundo_parrafo{
    color: red;
}